<ion-header>
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	
	<ion-card>
  <img src="./assets/images/upb.png"/>
  <ion-card-content>
    <ion-card-title>
      BIENVENIDOS
      </ion-card-title>
<p>Esta app esta hecha para el examen de desarrollo de aplicaciones avanzadas</p>
<p><b>Nombre: </b>Mario Acosta</p>
<p><b>Carrera: </b>Ing. en Software</p>
<p><b>Materia: </b>DAA</p>
<p><b>Fecha: </b>29/Junio/2019</p>

  </ion-card-content>
</ion-card>
</ion-content>