ion-item{
    --background: #fff;
    --color: #000;
}
ion-button{
    --background: #062f77;
}
ion-content{
    --background: #64acff;
    --color: #FFF;
}
img{
    width: auto; 
    height: auto;
    display:block;
    margin:auto;
}